<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
>
<body>
<div layout:fragment="content">
    <section class="tm-welcome-section">
        <div class="container tm-position-relative">
            <div class="tm-lights-container">
                <img src="/files/light.png" alt="Light" class="light light-1">
                <img src="/files/light.png" alt="Light" class="light light-2">
                <img src="/files/light.png" alt="Light" class="light light-3">
            </div>
            <div class="row tm-welcome-content">
                <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="/files/header-line.png"
                                                                                  alt="Line"
                                                                                  class="tm-header-line">&nbsp;Our Menus&nbsp;&nbsp;<img
                        src="/files/header-line.png" alt="Line" class="tm-header-line"></h2>
                <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>
            </div>
            <img src="/files/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
        </div>
    </section>
    <div class="tm-main-section light-gray-bg">
        <div class="container" id="main">
            <section class="tm-section row">
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <h2 class="tm-section-header gold-text tm-handwriting-font">Variety of Menus</h2>
                    <h2>Cafe House</h2>
                    <!--                    <a href="#" class="tm-more-button margin-top-30">Read More</a>-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
                    <div class="inline-block shadow-img">
                        <img src="/files/1.jpg" alt="Image" class="img-circle img-thumbnail">
                    </div>
                </div>
            </section>
            <section class="tm-section row">
                <div class="col-lg-12 tm-section-header-container margin-bottom-30">
                    <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="/files/logo.png" alt="Logo"
                                                                                     class="tm-site-logo"> Our Menus
                    </h2>
                    <div class="tm-hr-container">
                        <hr class="tm-hr">
                    </div>
                </div>
                <div>
                    <div class="col-lg-3 col-md-3">
                        <div class="tm-position-relative margin-bottom-30">
                            <nav class="tm-side-menu">
                                <ul>
                                    <li th:each="cat : ${lstCat}">
                                        <a th:href="@{/collections/{code}(code=${cat.code})}" th:text="${cat.name}"
                                           class="active"></a>
                                    </li>
                                </ul>
                            </nav>
                            <img src="/files/vertical-menu-bg.png" alt="Menu bg" class="tm-side-menu-bg">
                        </div>
                    </div>

                    <div class="tm-menu-product-content col-lg-9 col-md-9"> <!-- menu content -->

                        <!-- Nếu có sản phẩm -->
                        <div class="tm-product row" th:each="pro : ${lstProduct}" th:if="${lstProduct.size() > 0}">
                            <input type="hidden" th:value="${pro.id}" />
                            <div class="col-lg-3 col-md-3">
                                <img th:src="${pro.avatar.filePath}" alt="Product" class="img-fluid"
                                     style="width: 136px; height: 136px; object-fit: cover;">
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="tm-product-text">
                                    <a th:href="@{/products/{code}(code=${pro.code01})}" style="text-decoration: none;font-size: 22px" class="tm-product-title" th:text="${pro.productName}">Product Name</a>
                                    <p class="tm-product-description" th:text="${pro.description}">Product
                                        Description</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 text-end">
                                <a th:href="@{/products/{code}(code=${pro.code01})}" class="tm-product-price" style="text-decoration: none">
                                    <div class="tm-product-price-link tm-handwriting-font">
                                    <span th:inline="text" style="font-size: 16px">
                                        [[${#numbers.formatDecimal(pro.price != null ? pro.price.currentValue : 0, 0, 'COMMA', 0, 'POINT')}]]đ
                                    </span>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- Nếu không có sản phẩm -->
                        <div class="text-center" th:if="${lstProduct == null || lstProduct.size() == 0}">
                            <p>Không có sản phẩm nào</p>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>

</html>
